@font-face {
  font-family: "Dirtyline";
  src: url("../../public/fonts/Dirtyline.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  src: url("../../public/fonts/Syne.ttf") format("truetype");
}