/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(117deg, #1e1e1e 0%, #143332 100%);
  background-size: cover;
  background-attachment: fixed;
}

.invisible {
  visibility: hidden;
}

a {
  text-decoration: none;
}

/* Video background */
.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

/* Content container */
.flexBoxColumn {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

/* Rest of the styles */
.sectionTitle {
  color: white;
  font-family: "Dirtyline", sans-serif;
  font-size: 15vw;
  text-align: center;
  margin-top: 3rem;
}

.titleInfoContainer {
  max-width: 90%;
  width: 36.6875rem;
  border-radius: 1.25rem;
  background: rgba(20, 51, 50, 0.5);
  padding: 2rem;
  box-sizing: border-box;
}

.title span {
  color: #89ccbf;
}

.buttonsContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.heroButton {
  cursor: pointer;
}

.title {
  color: #d2d2d2;
  text-align: center;
  font-family: "Dirtyline", sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

.titleInfo {
  font-family: "Syne", sans-serif;
  text-align: center;
  color: white;
  font-size: 1.1875rem;
  margin: 0;
}

.arrowContainer {
  border: 4px solid #93bbbb;
  border-radius: 4rem;
  display: inline-block;
  padding: 1rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.arrowContainer:hover {
  transform: translateY(1rem);
  transition: all 0.5s ease;
}

.projectsSection {
  height: 100vh;
}

.projectGridOne {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50%;
}

.projectGridTwo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 50%;
}

.projectGridOne div {
  border: #89ccbf 4px solid;
  transition: all 0.5s ease;
}

.projectGridOne div:hover {
  background: #89ccbf;
  transition: all 0.5s ease;
}

.projectGridTwo div {
  border: #89ccbf 4px solid;
  transition: all 0.5s ease;
}

.projectGridTwo div:first-of-type:hover {
  background: #89ccbf;
  transition: all 0.5s ease;
}

.projectsSection svg {
  fill: transparent;
  stroke: #89ccbf;
  width: 4rem;
}

.projectsSection h2 {
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 2.5rem;
}

.projectGridOne div,
.projectGridTwoProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.projectGridTitle {
  background: linear-gradient(101deg, #89ccbf 1.88%, #456660 95.22%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsTitle {
  font-size: 5rem;
  font-family: "Syne", sans-serif;
  color: white;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.skillsTextContainer {
  border-radius: 1.25rem;
  background: #143332;
  max-width: 30rem;
  padding: 2rem;
  margin: 3rem auto;
}

.skillsText {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*Services*/

.serviceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.serviceContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  border: #89ccbf 4px solid;
  border-radius: 2rem;
  width: 70%;
  padding: 3rem;
}

.serviceTitle {
  font-size: 4vw;
  color: white;
  font-family: "Syne", sans-serif;
}

.serviceDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.serviceDetailText {
  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serviceDetailGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.serviceDetailGrid p {
  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1000px) {
  .serviceContainer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .serviceTitle {
    font-size: 10vw;
  }
}

/* contact me */

.contactSection {
  margin-bottom: 5rem;
}

.pictureContainer {
  width: 25rem;
  height: 25rem;
  border: #89ccbf 4px solid;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.pictureContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileTextContainer {
  width: 40%;
  margin: 2rem auto;
  padding: 2rem;
  border: #89ccbf 4px solid;
  border-radius: 1.25rem;
  background: #143332;
  min-width: 28rem;
}

.profileText {
  font-family: "Syne", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.contactWrapper {
  position: relative;

  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.navLinkContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.navLink {
  width: 3rem;
  height: 3rem;
  border: #89ccbf 2px solid;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
}
.navLink svg {
  fill: white;

  width: 2rem;
}
