/* skills.module.css */

.container {
  position: relative;
  width: 60%;
  background: linear-gradient(117deg, #1e1e1e 0%, #143332 100%);
  border-radius: 5px;
  margin: 10px 0;
}

.bar {
  height: 2rem;
  background-color: #bffcfc; /* blue bar */
  border-radius: 5px;
  width: 0; /* Initial width set to 0 for animation */
}

.text {
  position: absolute;
  top: -3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 2rem;
}
